[defaults]
inventory = inventory/
host_key_checking = False
remote_user = rua
private_key_file = ~/.ssh/ansible_key
forks = 2

[privilege_escalation]
become = True
become_user = root
become_method = sudo
become_ask_pass = False

# Connexion
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey
timeout = 30
